.item-box {
    border: 2px solid #000;
    border-radius: 5%;

    margin: 5px;
    height: 120px;
    width: 125px;
    max-width: 130px;

    text-align: center;
}

.item-box:hover {
    transform: translate(-3px, -3px);
}